@charset "utf-8";
/* CSS Document */

table.opc_table {border-width:2px; border-style:solid; border-color:#333;}

table.opc_table td {border-width:1px; border-style:solid; border-color:#333; padding:5px;}